/*.1
/*.info*.gz

/gauche-deve.texi
/gauche-ref[ej].texi
/srfis.texi

/gauche-deve.dvi
/gauche-deve.pdf
/gauche-deve.html

/gauche-ref[ej].dvi
/gauche-ref[ej].html
/gauche-ref[ej].pdf
/gauche-ref[ej]_*.html

/gauche-deve.t2d/
/gauche-ref[ej].t2d/
