/*.1
/*.info*.gz

/gauche-ref[ej].texi
/srfis.texi

/gauche-deve.aux
/gauche-deve.cp
/gauche-deve.fn
/gauche-deve.fns
/gauche-deve.ky
/gauche-deve.pdf
/gauche-deve.pg
/gauche-deve.texi
/gauche-deve.toc
/gauche-deve.tp
/gauche-deve.tps
/gauche-deve.vr
/gauche-deve.vrs

/gauche-deve.html

/gauche-ref[ej].aux
/gauche-ref[ej].cl
/gauche-ref[ej].cls
/gauche-ref[ej].cp
/gauche-ref[ej].dvi
/gauche-ref[ej].fn
/gauche-ref[ej].fns
/gauche-ref[ej].ky
/gauche-ref[ej].lx
/gauche-ref[ej].lxs
/gauche-ref[ej].md
/gauche-ref[ej].mds
/gauche-ref[ej].pdf
/gauche-ref[ej].pg
/gauche-ref[ej].toc
/gauche-ref[ej].tp
/gauche-ref[ej].tps
/gauche-ref[ej].vr
/gauche-ref[ej].vrs

/gauche-ref[ej].html
/gauche-ref[ej]_*.html
