name: Build

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v2
    - name: Install Gauche
      run: |
        pwd
        curl -f -o get-gauche.sh https://raw.githubusercontent.com/shirok/get-gauche/master/get-gauche.sh
        chmod +x get-gauche.sh
        ./get-gauche.sh --auto --home
    - name: Add Gauche path
      run: |
        echo "::set-env name=PATH::$HOME/bin:$PATH"
    - name: Run Gauche once
      run: |
        gosh -V
    - name: Install tools
      run: |
        sudo apt-get install libgdbm-dev
    - name: Self-host-test
      run: |
        gcc -v
        ./DIST self-host-test

  build-osx:
    runs-on: macos-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v2
    - name: Install Gauche
      run: |
        pwd
        curl -f -o get-gauche.sh https://raw.githubusercontent.com/shirok/get-gauche/master/get-gauche.sh
        chmod +x get-gauche.sh
        ./get-gauche.sh --auto --home
    - name: Add Gauche path
      run: |
        echo "::set-env name=PATH::$HOME/bin:$PATH"
    - name: Run Gauche once
      run: |
        gosh -V
    - name: Install tools
      run: |
        brew install automake
    - name: Self-host-test
      run: |
        gcc -v
        ./DIST self-host-test

  build-windows:
    runs-on: windows-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, i686]
        include:
        - arch: x86_64
          bit: 64
          devtool_path: D:\devtool
        - arch: i686
          bit: 32
          devtool_path: D:\devtool
    env:
      MSYSTEM: MINGW${{ matrix.bit }}
      MSYS2_PATH_TYPE: inherit
      MSYS2_PATH_LIST: D:\msys64\mingw${{ matrix.bit }}\bin;D:\msys64\usr\local\bin;D:\msys64\usr\bin;D:\msys64\bin
      MSYS2_TARBALL_URL: http://repo.msys2.org/distrib/x86_64/msys2-base-x86_64-20190524.tar.xz
      GAUCHE_VERSION_URL: https://practical-scheme.net/gauche/releases/latest.txt
      GAUCHE_INSTALLER_URL: https://prdownloads.sourceforge.net/gauche
      GAUCHE_PATH: ${{ matrix.devtool_path }}\Gauche\bin
    steps:
    - run: git config --global core.autocrlf false
    - uses: actions/checkout@v2
    - name: Install MSYS2
      run: |
        #del alias:curl
        curl -f -o msys2.tar.xz $env:MSYS2_TARBALL_URL
        #tar xf msys2.tar.xz -C /d/
        bash -c "7z x msys2.tar.xz -so | 7z x -aoa -si -ttar -oD:"
        dir D:\
    - name: Add MSYS2 path
      run: |
        echo "::set-env name=PATH::$env:MSYS2_PATH_LIST;$env:PATH"
    - name: Run MSYS2 once
      run: |
        bash -lc @'
          pwd
          echo $PATH
        '@
    - name: Install MinGW-w64
      run: |
        bash -lc @'
          pacman -S --noconfirm base-devel
          pacman -S --noconfirm mingw${{ matrix.bit }}/mingw-w64-${{ matrix.arch }}-toolchain
        '@
    - name: Install Gauche
      run: |
        #del alias:curl
        $env:GAUCHE_INSTALLER_VERSION = curl -f $env:GAUCHE_VERSION_URL
        echo $env:GAUCHE_INSTALLER_VERSION
        $env:GAUCHE_INSTALLER = "Gauche-mingw-$env:GAUCHE_INSTALLER_VERSION-${{ matrix.bit }}bit.msi"
        echo $env:GAUCHE_INSTALLER
        curl -f -L -o $env:GAUCHE_INSTALLER $env:GAUCHE_INSTALLER_URL/$env:GAUCHE_INSTALLER
        dir
        msiexec /a $env:GAUCHE_INSTALLER /quiet /qn /norestart TARGETDIR=${{ matrix.devtool_path }}
    - name: Add Gauche path
      run: |
        echo "::set-env name=PATH::$env:GAUCHE_PATH;$env:PATH"
    - name: Run Gauche once
      run: |
        gosh -V
    - name: Install tools
      run: |
        bash -lc @'
          #pacman -S --noconfirm msys/winpty
          #winpty --version
          where openssl
          echo 'Rename unavailable openssl.exe'
          mv /mingw${{ matrix.bit }}/bin/openssl.exe /mingw${{ matrix.bit }}/bin/openssl_NG.exe
          where openssl
          /usr/bin/openssl version
        '@
    - name: Build
      run: |
        bash -lc @'
          pwd
          cd $GITHUB_WORKSPACE
          pwd
          gcc -v
          ./DIST gen
          src/mingw-dist.sh
        '@
    - name: Test
      run: |
        bash -lc @'
          cd $GITHUB_WORKSPACE
          make check
        '@
    #- name: Upload result
    #  if: success() || failure()
    #  uses: actions/upload-artifact@v1
    #  with:
    #    name: Gauche-${{ matrix.arch }}
    #    path: ../Gauche-mingw-dist/Gauche-${{ matrix.arch }}
    #- name: Upload result2 (for rfc.tls debug)
    #  if: (success() || failure()) && matrix.arch == 'x86_64'
    #  uses: actions/upload-artifact@v1
    #  with:
    #    name: tls
    #    path: ext/tls

